{% extends 'base.html' %}

    {% block content %}
       
    <h1>Recipes Wiki</h1>    
    <ul class="collapsible" data-collapsible="accordion">
        {% for index in recipes %}
        <li>
              <div class="collapsible-header">
                  <div class="col s12">
                      <i class="material-icons">expand_more</i><strong>{{index.recipe_name}}</strong>  - {{index.cusine_name}} - {{index.time_details}} - {{index.difficulty_selector}} - {{index.serves_details}}
                      <a class="waves-effect waves-light btn btn_small green">Edit</a>    
                      <a class="waves-effect waves-light btn btn_small red">Delete</a>    
                  </div>
              </div>
              <div class="collapsible-body">
                  <span> 
                  {{index.ingredients_details}}
                  </span>
              </div>
              <div class="collapsible-body">
                  <span> 
                  {{index.instructions_details}}
                  </span>
              </div>
        </li>
        {% endfor %}
    </ul>
  
    {% endblock %}