{% extends 'base.html' %}
{% block content %}
<h3>Filters</h3>
<div class="filterbar">
        <nav>
            <div>
                <a href="#" data-activates="mobile-demo1" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="">Cusine</a></li>
                    <li><a href="">Difficulty </a></li>
                    <li><a href="">Serves</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo1">
                    <li><a href="">Cusine</a></li>
                    <li><a href="">Difficulty</a></li>
                    <li><a href="">Serves</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <h2>Welcome To The Recipe Database</h2>
    <div class="container">
        
        <ul class="collapsible" data-collapsible="accordion">
        {% for index in recipes %}
        <li>
              <div class="collapsible-header">
                  <div class="col s12">
                      <i class="material-icons">expand_more</i><strong>{{index.recipe_name}}</strong>  - {{index.cusine_name}} - {{index.time_details}}Mins - {{index.difficulty_selector}} - Serves {{index.serves_details}}
                      <a href="{{url_for('edit_recipe', recipe_id=index._id)}}" class="waves-effect waves-light btn btn_small green">Edit</a>    
                      <a href="{{url_for('delete_recipe', recipe_id=index._id)}}" class="waves-effect waves-light btn btn_small red">Delete</a>    
                  </div>
              </div>
              <div class="collapsible-body">
                  <span> 
                  {{index.ingredients_details}}
                  </span>
              </div>
              <div class="collapsible-body">
                  <span> 
                  {{index.instructions_details}}
                  </span>
              </div>
        </li>
        {% endfor %}
    </ul>
    </div>
    
{% endblock%}